DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=dateyourlove
PORT=3000
API_TOKEN=your_bearer_token_here
API_MERCHANT_KEY=bd96e262edf566743fb9c6fa49281385a2c796db3ce9585
ADMIN_TOKEN=supersecretadmintoken
